<!DOCTYPE html>
<html>

<head>
    <title>Email Form</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>
    <script src="/JS/script.js"></script>
    
    <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>

</head>

<body>
    <div class="container">
        <h2>Contact Us</h2>
      <form method="post" enctype="multipart/form-data" id="form-name" onsubmit="sendEmails(event)">
<label for="template">Email Template:</label>
<select id="template" name="template">
    <option value="default">Default</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
</select>
            <label for="emails">Email id:</label>
            <input type="text" id="emails" name="emails" >

            <label for="csvFile">Upload CSV File:</label>
            <input type="file" id="csvFile" name="csvFile" accept=".csv,xlsx" >

            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>

            <label for="content">Content:</label>
            <textarea id="content" name="content" rows="4" required></textarea>


            <label for="attachment">Attach a File (Optional):</label>
            <input type="file" id="attachment" name="attachment" accept="image/*,application/pdf">

            <input type="submit" value="Send">
        </form>
    </div>
    
    <script>
	var editor1 = new RichTextEditor("#content");
	
</script>
</body>

</html>